*,
html,
body {
  font-size: 14px;
  font-family: "AmazonEmber";
  box-sizing: border-box;
}

/* .triangle {
  position: absolute;
  z-index: 101;
  right: -4px;
  top: 30px;
  display: none;
  background-color: transparent;
  width: 0;
  height: 0;
  transition: all 2s;
  border: 12px solid blue;
  border-color: transparent transparent white transparent;
} */

.hdn-sign {
  position: absolute;
  z-index: 101;
  transition: all 2s;
  display: none;
  width: 500px;
  height: 350px;
  top: 50px;
  right: -100px;
  background-color: white;
}

.hnd-table li {
  color: rgb(84, 84, 84);
  font-size: 13px;
  padding: 5px 0;
  cursor: pointer;
}

.hnd-active {
  display: block;
}

.hnd-content ul div {
  display: flex;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 14px;
  color: rgb(70, 70, 70);
  padding: 15px 25px;
  justify-content: space-between;
}

.hnd__sign:hover .hdn-sign {
  display: block;
}


.language:hover .language__option {
  display: block;
}
