@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


@font-face {
  font-family: "AmazonEmber";
  src: local("AmazonEmber"),
    url("./asstes/fonts/AmazonEmber/AmazonEmber_Rg.ttf") format("truetype");
}

.slick-track{
  display: flex !important;
}